*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: lightblue;
}

.container {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
}

.form-search-city {
  display: flex;
  height: 2.3em;
}

.name-city-input {
  border: 1px solid black;
  background: rgb(239 239 239);
  width: 100%;
  font-size: 16px;
  margin-right: 2px;
}

.name-city-input:focus {
  outline: none;
}

.btn-city-input {
  width: 25%;
  border: 1px solid black;
}

.display-weather {}